.custom-card{
    flex: 1;
    width: 18rem;
    margin: 18px;
    color : #fff;
    position: relative;
}
.custom-card:hover::after{
    content: "";
    width: 18rem;
    border-radius: 21px;
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 445px;
    background: linear-gradient(360deg, #00000094, transparent);
}