body{
    background:linear-gradient(45deg,rgba(0, 0, 0, 0.7), rgba(17, 16, 16, 0.7)), url('../../image/Rectangle\ 1.png');
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    width: 100%;
    height: 900px;
}